venv-apply
*.pyc
*.swp
ez_setup
tw2*
virtualenv-apply
*.db*
build
dist
apply/public/photos/*.jpg
doc/build
*.egg
apply.egg-info
somedb.db
apply/templates/usr
python-eggs
applyselinux.pp
applyselinux.mod
README.pdf
